/* Default Setting */

*{
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.72222;
}

/* main grid comment */

#mainGrid{
  width: 100%;
    z-index: 1;
}
#board{
    position : absolute;
    bottom : 0px;
    margin : 10px;
    border-collapse: collapse;
}
#board td{
    border: 1px solid rgb(175, 216, 248);
    width: 25px;
    height: 25px;
}

.unvisited{
    border: 1px solid rgb(175, 216, 248);
    background-color:white
  }

  #algorithmDescriptor {
    position: relative;
    text-align: center;
    color:aliceblue;
    padding: 15px 20px 15px 20px;
    border-radius: 3px;
    background-color:darkcyan;
    margin: auto;
    width: 100px;
    height: 25px;
  }

  #weight{
    position: absolute;
    text-align: center;
    color:black;
    padding: 15px 20px 15px 20px;
    border-radius: 3px;
  }

  #algorithmDescriptor:hover{
    background-color:yellow;
    color: black;
  }

  .start{
    background-image:url(img/triangletwo-right.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: specialNodes;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  .target{
    background-image: url(img/circle.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: specialNodes;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  @keyframes specialNodes {
    0% {
      transform: scale(.8);
    }
  
    50% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1.0);
    }
  }

  .wall{
    animation-name: wallAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes wallAnimation {
    0% {
      transform: scale(.9);
      background-color:darkturquoise;
    }
  
    50% {
      transform: scale(1.1);
      background-color:cadetblue;
    }
  
    100% {
      transform: scale(1);
      background-color:rgb(12, 53, 71);
    }
  }

  .object{
    background-image: url(img/diamond.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: specialNodes;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }